<!DOCTYPE html>
<html>
<body>

<h1>register page</h1>

<form action="{{ url_for('register') }}", method = 'POST'>
  <label for="uname">user name:</label>
  <input type="text" id="uname" name="uname"><br><br>

  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>

  <label for="mname">middle name</label>
  <input type="text" id="mname" name="mname"><br><br>

  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>

  <label for="bday">birthdate:</label>
  <input type="date" id="bday" name="bday"><br><br>

  <label for="email">email:</label>
  <input type="email" id="email" name="email"><br><br>

  <label for="passw">password:</label>
  <input type="password" id="passw" name="passw"><br><br>
  <button type="submit" >register</button>
    <a href = "{{ url_for('login') }}" > if you have an account click to sign in </a> <br>
</form>


</body>
</html>
